/*Import de la font Raleway et utilisation sur la page entière*/
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
* {
    font-family: 'Raleway';
}

html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }


body {
    max-width: 1400px;
    margin-left: 50px;
    margin-right: 50px;
}

header img {
    max-height: 19px;
    margin-top: 41px;
}

/* Flexbox sert ici à mettre "Hébergement" et "Activités" à droite de la page*/

.tag-div {
    display: flex;
    justify-content:space-between;

}

.menu {
    display: flex;
    width: 324px;

}

.link {
    flex: 1;
    text-align: center;
    padding-top: 50px;
}

.link:hover {
    border-top: 2px #0065FC solid;
    padding-top: 48px;
}
/* Ce code servira à faire en sorte que les liens, même cliqués, soient en noir par défaut */

a {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}
/* Ce code sert à séparer un peu le menu du header, histoire qu'il ne soit pas trop encombré, et à colorer le texte en bleu au survol */

.menu p {
    padding-right: 50px;
}
.menu p:hover {
color: #0065FC;
}

/*Cette marge sert à décoller le contenu du site du bord de l'écran*/



/* Cette section s'occupe de la barre de recherche */
form {
    display: flex;
    height: 50px;
}

form div {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

form div i {
    margin: auto;
    color: black;
}
form input {
    border: none;
    color:black;
    font-weight: 700;
}
form button {
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    border: none;
    padding : 0px 20px;
    font-weight: 200;
}


/* Cette section s'occupe des filtres */
.filtres {
    display: flex;
    flex-direction: row ;
    align-items: flex-start;
}

.filtres i {
    margin-right: 10px;
    font-size: 22px;
    width: 22px;
    color: blue;
}

.fa-money-bill-wave {
    height: 16px;
}

.fa-person {
    width: 13px;
}

.fa-heart {
    height: 18px;
}

.fa-dog {
    height: 22px;
}
.texte-filtre {
    color: black;
    padding: 10px 10px;
    margin: 20px;
    font-weight: 700;
}

.bouton-filtre {
    display: flex;
    color: black;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    border: 2px solid #D9D9D9;
    border-radius: 40px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
}



.bouton-filtre:hover {
    background-color: #DEEBFF;
}



.fa-info {
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 24px;
    height: 24px;
    width: 24px;
    text-align: center;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

main p {
    font-size: 14px;
}

main {
    display: flex;
}

.hebergement {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 70%;
}

.populaire {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 30%;
}


/*Mise à l'échelle des photos des hébergements*/

main img {
    box-sizing: border-box;
    height: 124px;
    width: 100%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

/*Mise en place de la grille des hébergements*/

.grille-marseille {
    display: grid;
    grid-template-columns: 28% 28% 28%;
    gap: 30px;
    margin-bottom: 40px;
    justify-content: center;
}


.hebergement-marseille {
    
    width: auto;
    height: 100%;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);  
    border-radius: 20px;
}

.texte-hebergement-marseille {
    margin: 5px;
}
.populaire {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.carte-populaire {
    display: flex;
    background-color: white;
    width: 90%;
    border-radius: 15px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    height: 170px;
}

.image-populaire {
    width: 40%;
}

.contenu-populaire {
    width: 60%;
    margin-left: 5px;
    margin-bottom: 5px;
}

.image-populaire img {
    width: 100%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}

.notation-populaire {
    margin-top: 20%;
}
article {
    display: flex;
    justify-content: space-around;
}

article img {
    box-sizing: border-box;
    height: 302px;
    width: 100%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

article a {
    width: 20%;
    height: 364px;
    margin-bottom: 61px;
}
.activite-marseille {
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.activite-marseille h3 {
    padding-left: 20px;
    padding-bottom: 20px;
}

footer
{
    background-color: #F2F2F2;
}
footer nav{
    display: flex;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
}

ul {
    list-style: none;
}

.bleu {
    color:#0065FC;
}

.gris {
    color: #F2F2F2;
}